# List in Python
List in Python is in simplest form an array
To Store Ordered Data  
It is **Mutable**   
Can be Accessed via **Index**  
It is **Hetrogeneous**

### String and List are Very Similar 
Most list operations are also supported by Strings

In [1]:
a = [1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
a[0]

1

In [4]:
a = ["Pawan",2, 3]

In [5]:
a

['Pawan', 2, 3]

In [7]:
# We can addd functions as list items
a = ["pawan",2,print]

In [8]:
a[2]

In [9]:
a[2]("Hello")

Hello

In [10]:
a[2](a[0])

pawan

## Basic Operations
**Length**  -  **Concatination**  -  **Repetetion**  -  **Membership**  -  **Iteration**

In [11]:
a = [1,2,3,4]

In [12]:
len(a)

4

In [13]:
a = [1,2,3]
b = [3,4,5]

In [14]:
a+b

[1, 2, 3, 3, 4, 5]

In [15]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
a

[1, 2, 3]

In [22]:
# membership
1 in a

True

In [23]:
4 in a

False

In [25]:
# Iterating
for val in a :
    print(val)

1
2
3

## Indexing and Slicing
Python have both Forward and Backward Indexes:  

**Forward Indexes :**  0, 1, 2, 3, 4

**Backward Indexes :** -5 -4 -3 -2 -1

In [26]:
a = [1,2,3,4]

In [27]:
a[0]

1

In [28]:
a[-1]

4

### Slicing the List
Works with both positive and Negative Indexes

In [29]:
a = [1,2,3,4,5]

In [47]:
# a[start:end]
a[0:4:2] # Index 1 to 3 as Last Excluded

[1, 3]

In [39]:
# a[start:end:jump]
a[0:5:2]

[1, 3, 5]

**Most Elegant Way to reverse a string/list**

In [40]:
a[::-1]

[5, 4, 3, 2, 1]

### Updating the List
1. Insert
1. Append

In [64]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [65]:
#insert(index,value)
a.insert(1,'pawan')
a

[1, 'pawan', 2, 3, 4, 5]

In [66]:
# append(value) : Always at the end
a.append('kholia')
a

[1, 'pawan', 2, 3, 4, 5, 'kholia']

### Deleting List 
1. del
1. pop
1. remove

In [68]:
# pop removes and returns last element
a = [1,2,3,4,5]

In [69]:
a

[1, 2, 3, 4, 5]

In [70]:
a.pop()

5

In [72]:
a

[1, 2, 3, 4]

In [73]:
# pop works with index also
a = [1,2,3,4,5]
a.pop(2)

3

In [74]:
a

[1, 2, 4, 5]

In [81]:
#remove removes First occurance of an pattern
a =["pawan", "kholiya", "pawan"]

In [82]:
a.remove("pawan")
a

['kholiya', 'pawan']

In [83]:
#Del deletes entire list
# del is not a function but a general python operator

In [84]:
del a[1]
a

['kholiya']

In [85]:
del a

In [86]:
a

NameError: name 'a' is not defined

### Sorting and Reversing
1. Sort and Sorted
1. Reverse and Reversed

In [87]:
a = [3,2,1,4,5]

In [88]:
sorted(a)

[1, 2, 3, 4, 5]

In [91]:
a = [3,2,1,4,5]

In [94]:
# Its inplace
a.sort()
a

[1, 2, 3, 4, 5]

#### Reverse work in similar way